# Introduction

In [1]:
import numpy as np
import pandas as pd
import sklearn as sl
import random

In [2]:
columns = ["match_id", "player_slot", "chat_key", "unit", "radiant_win"]
chat_data = pd.read_csv('match_chat.csv', names=columns, encoding = "ISO-8859-1")
chat_data.head()

     match_id  player_slot               chat_key  unit  radiant_win
0  5008188550          128       yes you are girl     5            0
1  5008188550          128                   xoxo     5            0
2  5008188550            1                   stop     1            0
3  5008188550            1  I cant love the enemy     1            0
4  5008188550          130            I'd paint u     7            0

In [3]:
len(chat_data)

4709

In [4]:
# according to the API, player_slot 0-127 are Radiant, 128-255 are Dire
chat_data['is_radiant'] = np.where(chat_data['player_slot']<=127, 1, 0)
# create a new column call win
win_condition = (chat_data['is_radiant'] == chat_data['radiant_win'])
chat_data['win'] = np.where(win_condition, 1, 0)
chat_data.head()

,match_id,player_slot,chat_key,unit,radiant_win,is_radiant,win
0,5008188550,128,yes you are girl,5,0,0,1
1,5008188550,128,xoxo,5,0,0,1
2,5008188550,1,stop,1,0,1,0
3,5008188550,1,I cant love the enemy,1,0,1,0
4,5008188550,130,I'd paint u,7,0,0,1

In [6]:
# drop unnecessary columns
chat_data = chat_data.drop(columns=['match_id','player_slot','unit','radiant_win','is_radiant'], axis=1)
chat_data.head()

                chat_key  win
0       yes you are girl    1
1                   xoxo    1
2                   stop    0
3  I cant love the enemy    0
4            I'd paint u    1